/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/


// COLORS:
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2988ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-grey-light: #f7f7f7;
$color-grey-dark: #666;
$color-grey-very-dark: #333;

$color-beautiful: #F698AE;


// SPACES:
$space-extremely-small: .6rem;
$space-very-small: 1.2rem;
$space-small: 1.6rem;
$space-medium-small: 2.4rem;
$space-medium: 3.2rem;
$space-medium-large: 4.8rem;
$space-large: 6.4rem;
$space-very-large: 9.6rem;
$space-extremely-large: 12.8rem;

// SIZES:
$size-extremely-small: 1rem;
$size-very-small: 1.2rem;
$size-small: 1.4rem;
$size-medium-small: 1.6rem;
$size-medium: 2rem;
$size-medium-large: 2.4rem;
$size-large: 3.2rem;
$size-very-large: 4.8rem;
$size-extremely-large: 6.4rem;