@use "../abstracts";

.footer {
  @include abstracts.container(abstracts.$space-very-large, abstracts.$space-medium-large);
  background-color: abstracts.$color-grey-very-dark;
  color: abstracts.$color-grey-light;
  font-size: abstracts.$size-small;

  &__logo-box {
    text-align: center;
    margin-bottom: abstracts.$space-large;
  }

  &__logo {
    height: 10rem;
  }

  &__navigation {
    //width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    border-top: 1px solid abstracts.$color-primary-light;
    padding-top: abstracts.$space-small;
  }

  &__list {
    display: inline-flex;
    gap: abstracts.$space-small;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font: inherit;
      color: abstracts.$color-primary-light;
      text-decoration: none;
      transition: all .2s ease-in-out;
    }

    &:hover,
    &:active {
      color: lighten(abstracts.$color-primary-light, 20%);
      transform: rotate(8deg) scale(1.25);
      box-shadow: 0 10px 20px rgba(abstracts.$color-black, .5);
      background-color: lighten(abstracts.$color-grey-very-dark, 2%);
    }
  }

  &__copyright {
    //width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    border-top: 1px solid abstracts.$color-grey-light;
    padding-top: abstracts.$space-small;
    justify-self: center;
  }
}
