@use "../abstracts";

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    padding: abstracts.$space-very-small abstracts.$space-medium;
    display: inline-block;
    text-decoration: none;
    border-radius: 10rem;
    position: relative;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 5px 10px 20px rgba(abstracts.$color-black, 0.15);

    &::after {
      transform: scaleX(1.5) scaleY(2);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 5px 5px 10px rgba(abstracts.$color-black, 0.08);
  }

  &--white {
    background-color: abstracts.$color-white;
    color: abstracts.$color-grey-dark;

    &::after {
      background-color: abstracts.$color-white;
    }
  }
  &--green {
    background-color: abstracts.$color-primary;
    color: abstracts.$color-white;

    &::after {
      background-color: abstracts.$color-primary;
    }
  }
  // &--green {
  //   background-color: abstracts.$color-primary;
  //   color: abstracts.$color-white;

  //   &::after {
  //     background-color: abstracts.$color-white;
  //   }
  // }

  &--animated {
    animation: 1s ease-out moveInBottom 0.4s;
    animation-fill-mode: backwards;
  }

  &::after {
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 10rem;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    color: abstracts.$color-primary;
    transition: all .3s ease-in-out;
    font-size: abstracts.$size-medium-small;
    text-decoration: none;
    border-bottom: 1px solid abstracts.$color-primary;
    padding: 3px 6px;
  }

  &:hover {
    color: abstracts.$color-white;
    background-color: abstracts.$color-primary;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(abstracts.$color-black, 0.15);
  }

  &:active {
    color: abstracts.$color-white;
    background-color: abstracts.$color-primary;
    transform: translateY(-1.5px);
    box-shadow: 0 5px 10px rgba(abstracts.$color-black, 0.1);

  }
}

