.card {
  // functionalities
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  height: 48rem;

  &__side {
    height: 48rem;
    width: 100%;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba($color-black, .15);


    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, 
          $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, 
          $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, 
          $color-tertiary-light, $color-tertiary-dark);
      }
    } 
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }


  // front side styling
  &__image {
    height: 20rem;
    background-blend-mode: screen;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, 
      $color-secondary-light, $color-secondary-dark), url(../../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(to right bottom, 
      $color-primary-light, $color-primary-dark), url(../../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(to right bottom, 
      $color-tertiary-light, $color-tertiary-dark), url(../../img/nat-7.jpg);
    }
  }

  &__heading {
    color: $color-white;
    font-size: $size-medium-large;
    text-transform: uppercase;
    width: 60%;
    position: absolute;
    top: 11rem;
    right: 2rem;
    text-align: right;
  }
  
  &__heading-span {
    padding: $space-extremely-small $space-very-small;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
    }
    &--2 {
      background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    }
    &--3 {
      background-image: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);
    }
  }

  &__details {
    padding: $space-medium $space-large;

    ul {
      display: flex;
      flex-direction: column;
      gap: $space-small;
      text-align: center;
      
      li:not(:last-child) {
        border-bottom: 1px solid rgba($color-grey-dark, .1);
      }
    }
  }


  // back side styling 
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
  }

  &__price-box {
    text-align: center;
  }

  &__price-only {
    text-transform: uppercase;
    font-size: $space-small;
    font-weight: 700;
  }

  &__price-value {
    font-size: $size-very-large;
    font-weight: 500;
    margin: 0 0 $space-medium-large;
  }
}