@use "../abstracts";

.u-center-text {
  text-align: center;
}

.u-margin-bottom-extremely-small {
  margin-bottom: abstracts.$space-extremely-small;
}
.u-margin-bottom-very-small {
  margin-bottom: abstracts.$space-very-small;
}
.u-margin-bottom-small {
  margin-bottom: abstracts.$space-small;
}
.u-margin-bottom-medium-small {
  margin-bottom: abstracts.$space-medium-small;
}
.u-margin-bottom-medium {
  margin-bottom: abstracts.$space-medium;
}
.u-margin-bottom-large {
  margin-bottom: abstracts.$space-large;
}
.u-margin-bottom-very-large {
  margin-bottom: abstracts.$space-very-large;
}

.u-margin-top-extremely-small {
  margin-top: abstracts.$space-extremely-small;
}
.u-margin-top-very-small {
  margin-top: abstracts.$space-very-small;
}
.u-margin-top-small {
  margin-top: abstracts.$space-small;
}
.u-margin-top-medium-small {
  margin-top: abstracts.$space-medium-small;
}
.u-margin-top-medium {
  margin-top: abstracts.$space-medium;
}
.u-margin-top-large {
  margin-top: abstracts.$space-large;
}
.u-margin-top-very-large {
  margin-top: abstracts.$space-very-large;
}

