.u-center-text {
  text-align: center;
}

.u-margin-bottom-extremely-small {
  margin-bottom: $space-extremely-small;
}
.u-margin-bottom-very-small {
  margin-bottom: $space-very-small;
}
.u-margin-bottom-small {
  margin-bottom: $space-small;
}
.u-margin-bottom-medium-small {
  margin-bottom: $space-medium-small;
}
.u-margin-bottom-medium {
  margin-bottom: $space-medium;
}
.u-margin-bottom-large {
  margin-bottom: $space-large;
}
.u-margin-bottom-very-large {
  margin-bottom: $space-very-large;
}

.u-margin-top-extremely-small {
  margin-top: $space-extremely-small;
}
.u-margin-top-very-small {
  margin-top: $space-very-small;
}
.u-margin-top-small {
  margin-top: $space-small;
}
.u-margin-top-medium-small {
  margin-top: $space-medium-small;
}
.u-margin-top-medium {
  margin-top: $space-medium;
}
.u-margin-top-large {
  margin-top: $space-large;
}
.u-margin-top-very-large {
  margin-top: $space-very-large;
}

