@use "../abstracts";

.section-about {
  @include abstracts.container(calc(#{abstracts.$space-very-large} + 20vh), calc(#{abstracts.$space-very-large} + 20vh));
  margin-top: -20vh;
  background-color: abstracts.$color-grey-light;
}

.section-features {
  @include abstracts.container(calc(#{abstracts.$space-very-large} + 20vh), calc(#{abstracts.$space-very-large} + 20vh));
  margin-top: -20vh;
  background-image: linear-gradient(to right bottom,
  rgba(abstracts.$color-primary, 0.8),
  rgba(abstracts.$color-primary-dark, 0.8)),
  url("../../img/nat-4.jpg");
  background-size: cover;
  background-position: center;

  clip-path: polygon(0 20vh, 100% 0, 100% calc(100% - 20vh), 0 100%);
}

.section-tours {
  @include abstracts.container(calc(#{abstracts.$space-very-large} + 20vh), abstracts.$space-very-large);
  margin-top: -20vh;
}

.section-stories {
  @include abstracts.container(abstracts.$space-very-large, abstracts.$space-very-large);
  position: relative;
}

.section-book {
  @include abstracts.container(abstracts.$space-very-large, abstracts.$space-very-large);
  background-image: linear-gradient(to right bottom, abstracts.$color-primary-light, abstracts.$color-primary-dark);
}

.book {
  width: 85%;
  height: 40rem;
  margin: 0 auto;
  background-image:
    linear-gradient(105deg, rgba(abstracts.$color-white, .9) 0%, rgba(abstracts.$color-white, .9) 50%, transparent 50%),
    url(/img/nat-10.jpg);
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(abstracts.$color-black, .3);

  &__form {
    width: 50%;
    height: 100%;
    padding: abstracts.$space-medium-small;
  }
}
